.project-column .issue-card.project-card[data-card-state="[\"closed\"]"],
.project-column .issue-card.project-card[data-card-state="[\"closed\",\"merged\"]"] {
  opacity: 0.25;
}

.github-pull-request-colorizer--draft-pr {
  background: #f6f8fa;
}

.github-pull-request-colorizer--draft-pr > * {
  opacity: 0.25;
}

.github-pull-request-colorizer--draft-pr svg path {
  fill: #24292e;
}

.markdown-body .container-md {
  /* Make checks output full width */
  max-width: none;
}

.github-pull-request-colorizer--green-pr {
  background-image: linear-gradient(45deg, #d1e8dd88 25%, #ffffff00 25%, #ffffff00 50%, #d1e8dd88 50%, #d1e8dd88 75%, #ffffff00 75%, #ffffff00 100%);
  background-size: calc(56.57px * 2) calc(56.57px * 2);
  border-bottom: 4px solid #d1e8dd;
  border-top: 4px solid #d1e8dd !important;
}

.github-pull-request-colorizer--green-pr svg path {
  fill: #24292e;
}
